body {
    margin:0;
    font-family: sans-serif;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
/* 
table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
} */